@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url(image/background-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


    ::-webkit-scrollbar {
        width: 0.3em;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(transparent, #292929);
        border-radius: 5px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
}

.left footer {
    position: absolute;
    bottom: 20px;
    width: 24vw;
    margin: 0px 7px;
   
}


.left {
    width: 25vw;
    padding: 5px;

}

.right {
    width: 73vw;
    margin: 10px;

}

.home ul {
    margin-left: 11px;
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding: 7px;
}
.cross{
    display: none;
}
.logo img {
    padding: 7px;
    width: 55px;
}

.first-img {
    padding-bottom: 10px;
}

.box1 {
    width: 47vh;
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    margin: auto;
    gap: 187px;
}

.box1 span img {
    width: 15px;
}

.f-1img {
    padding-right: 5px;
}

.invert1 {
    filter: invert(0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 6px;
    max-width: 71vw;
}



.nav img {
    border: 0.5px solid white;
    padding: 5px;
    border-radius: 70px;
    background-color: white;
}

.ff1-1 {
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.ff1-1:hover {
    text-decoration: none;

}

.underline {
    width: 68vw;
    height: 2px;
    background-color: white;
    margin: 10px 0px 10px 28px;
}

.end {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 25px;
}

.logo-l img {
    width: 20px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 5px;
    padding: 8px 13px;
}

.logo-l img:hover {
    border: 2px solid white;
}

.playbar {
    width: 70vw;
    height: 30px;
    position: absolute;
    bottom: 5px;
    margin: 15px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.songList ul {
    padding: 0px 25px;
}

.songList ul li {
    list-style-type: none;
    
}
.songList ul li:hover {
    transform: scale(1.05); /* Slightly bigger on hover */
    transition: transform 0.2s ease-in-out;
}

.musicbox {
    border: 2px solid rgb(246, 242, 242);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    width: 20vw;
    gap: 4px;
    padding: 2px;
    margin: 10px 0px;
    cursor: pointer;
}

.musicbox:hover {
    border: 2px solid black;
    border-radius: 7px;
}

.songicon {
    padding: 8px 0px 2px 0px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.playnow img {
    padding: 8px 0px 2px 0px;
    filter: invert(1);
}

.songinfo {
    width: 10vw;
    padding-top: 4px;
}

.seekbar {
    width: 97%;
    height: 0px;
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    bottom: 3px;
    background-color: white;
    margin: 3px;
    cursor: pointer;
}

.circle {
    left: 0px;
    width: 11px;
    height: 11px;
    border: 2px solid black;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -7px;
    transition: left 1s;
}

.songbutton img {
    cursor: pointer;
}

/* .songbutton{ */

/* } */
.songinfo-1 {
    width: 14vw;
    padding-left: 6px;
    font-size: 13px;
    color: black;
    align-content: center;
    font-weight: 400;
}

.duration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    font-size: 12px;
    color: white;
}

.songbutton img:hover {
    filter: invert(1);
}

.voltime {
    display: flex;
}

.volume {
    display: flex;
}

.volume img {
    width: 20px;
    cursor: pointer;
}

.volume img:hover {
    filter: invert(1);
}

.range {
    padding: 6px;

}

.range input {
    width: 73px;
    cursor: pointer;
}

.hamburger {
    display: none;
}

/* media query */

@media (max-width: 1450px) {
    body {
        background-image: url(image/background-img.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .container {
        width: 100vw;
        height: 95vh;
    }

    .left {
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 100vw;
        height: 80vh;
        padding: 0;
    }
    .home{
        background: #1c1c1c;
    }
    .library{
        height: 63vh;
        background: #1c1c1c;

    }
    .musicbox {
        width: 79vw;
    }

    .songinfo {
        width: 42vw;
    }

    .left footer {
       display: none;
    }

    .box3 {
        height: 19vh;
    }

    .right {
        width: 94vw;
        height: 93vh;
    }

    .header {
        max-width: 84vw;
    }

    .card {
        width: 35vw;
    }

    .f1 {
        justify-content: space-around;
        gap: 15px;
        flex-wrap: wrap;
    }

    .logo-l {
        margin-left: 0;
    }

    .underline {
        width: 77vw;
    }

    .playbar {
        width: 79vw;
        margin-top: 40px;
        position: relative;
        bottom: 0;
    }

    .songinfo-1 {
        display: none;
    }

    .voltime {
        gap: 15px;
    }

    .duration {
        justify-content: normal;
        width: 60px;

    }

    .seekbar {
        width: 90%;
    }

    .hamburger {
        display: block;
    }

    .rl {
        display: none;
    }
    
.box1 {
    width: 42vh;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.cross{
    display: block;
}
.erase{
    display: none;
}
}