@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.red-border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    justify-content: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {

    filter: invert(1);
}

.bg-gray {

    background-color: #121212;
}

.rounded {
     border: 2px solid white;
    border-radius: 7px;
}
.hover:hover{
    border: 2px solid black;
    border-radius: 7px;
}
/* .left footer:hover{
    border: 2px solid black;
    border-radius: 7px;
} */
.home{
    color: white;
}

.m-1 {
    margin: 5px;

}
.library{
    color: white;
    
}

.box2 {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}



.box3 {
    height: 19vh;
    color: rgb(237 228 228);
    font-size: 10px;
    font-weight: 400;
}

.frist-line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px;
    justify-content: flex-start;

}

.second-line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px;
    justify-content: flex-start;
}

.third-line {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 8px;
    justify-content: flex-start;
}

.frist-line div a {
    color: white;
    text-decoration: none;
    color: inherit;
}

.second-line div a {
    color: white;
    text-decoration: none;
    color: inherit;
}

.third-line div a {
    color: white;
    text-decoration: none;
    color: inherit;
}

.capsule-3 {
    width: 6vw;
    height: 3vh;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(255, 255, 255);


}

.capsule-3 img {
    width: 13px;
    padding: 3px 6px 0px 2px;
}

.line-1 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.line-2 {
    font-size: 13px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.spotify-playlist {
    background-color: transparent;
    margin: 5px;
    color: white;
    max-height: 70vh;
    overflow-y: scroll;
}

.spotify-playlist h2 {
    margin: 36px 0 0px 17px;
}
.nav img:hover{
    filter: invert(1);
}

.sl1 {
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 23px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.sl1:hover {
    color:black;
    font-weight: 600;
}

.sl2:hover {
    color: black;
    font-weight: 600;
    
}

.sl2 {
    background-color:transparent;
    color: white;
    border: 2px solid white;
    border-radius: 23px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.card {
    width: 9vw;
    margin: 20px 7px;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 7px;
}


.card img {
    width: 110px;
    padding: 2px;
    border-radius: 10px;
    margin: 2px 8px;
}

.card h4 {
    font-size: 12px;
    padding: 2px 10px;
    color: #e6e6e6;
}

.card p {
    font-size: 8px;
    padding: 2px 10px;
    color: #e8dada;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.play img {
    /* opacity: 1;
   bottom: 55px;   */
    width: 13px;
    padding: 7px;
    border-radius: 16px;
    background-color: #1ed760;
    position: absolute;
    right: 15px;
    bottom: 40px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.play2 img {
    /* opacity: 1;
   bottom: 65px; */
    width: 13px;
    padding: 7px;
    border-radius: 16px;
    background-color: #1ed760;
    position: absolute;
    right: 15px;
    bottom: 50px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.card:hover {
    border: 2px solid black;
    border-radius: 7px;

    .play img {

        width: 13px;
        padding: 7px;
        border-radius: 16px;
        background-color: #1ed760;
        position: absolute;
        right: 15px;
        opacity: 1;
        bottom: 55px
    }

    .play2 img {

        width: 13px;
        padding: 7px;
        border-radius: 16px;
        background-color: #1ed760;
        position: absolute;
        right: 15px;
        opacity: 1;
        bottom: 65px
    }
}

.f1 {
    display: flex;
    column-gap: 65px;
    font-weight: 400;
    font-size: 14px;
    margin: 10px;

}

.ff1 div a:hover {
    color: white;
    text-decoration: underline;

}

.ff2 div a:hover {
    color: white;
    text-decoration: underline;
}

.ff3 div a:hover {
    color: white;
    text-decoration: underline;
}

.ff4 div a:hover {
    color: white;
    text-decoration: underline;
}

.f1 a {
    text-decoration: none;
    color: #efe6e6;
}

.f1 div {
    padding: 5px;
}

.logo-l {
    margin: 0px 0px 10px 81px;
}

/* media query */

@media (max-width: 1450px) {
    body {
        background-image: url(image/background-img.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .container {
        width: 100vw;
        height: 95vh;
    }

    .left {
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 100vw;
        height: 80vh;
        padding: 0;
    }
    .home{
        background: #1c1c1c;
    }
    .library{
        height: 63vh;
        background: #1c1c1c;
    }
    
    .musicbox {
        width: 79vw;
    }

    .songinfo {
        width: 42vw;
    }

    .left footer {
       display: none;
    }

    .box3 {
        height: 19vh;
    }
        .right {
        width: 94vw;
        height: 93vh;
    }

    .header {
        max-width: 84vw;
    }

    .card {
        width: 35vw;
    }

    .f1 {
        justify-content: space-around;
        gap: 15px;
        flex-wrap: wrap;
    }

    .logo-l {
        margin-left: 0;
    }

    .underline {
        width: 77vw;
    }

    .playbar {
        width: 79vw;
        margin-top: 40px;
        position: relative;
        bottom: 0;
    }

    .songinfo-1 {
        display: none;
    }

    .voltime {
        gap: 15px;
    }

    .duration {
        justify-content: normal;
        width: 60px;

    }

    .seekbar {
        width: 90%;
    }
    
.box1 {
    width: 42vh;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.cross{
    display: block;
}
.capsule-3 {
    width: 20vw;
}
.erase{
    display: none;
}
}